---
layout: default
---
<a href="{{ site.baseurl }}/">
  <img src="{{ site.baseurl }}/images/crealternative.png" style="width: 100%;" />
</a>


<!-- {% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a>
      <span>{{post.header}}</span>
    </li>
    {% endfor %}
  </ul>
{% endfor %} -->




<div class="posts">
  {% for post in site.posts %}
  {% if post.layout != "landing" %}
  <hr>
  <article class="post">

    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endif %}
  {% endfor %}
</div>